<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ứng tuyển </title>
    <link th:href="@{/css/styleNavBar.css}" rel="stylesheet">
    <script th:src="@{/js/NavBar.js}"></script>
</head>
<body>
<ul class="navbar">
    <li class="navitem"><a th:href="@{/}">Trang chủ</a></li>
    <li class="navitem" id="jobpostingsDropdown" onmouseenter="showDropdown()" onmouseleave="hideDropdown()">
        <a href="javascript:void(0);" class="dropbtn">Tin tuyển dụng</a>
        <div class="dropdown-content jobpostings-content" id="jobpostingsContent">
            <a th:href="@{/view}">Xem tin tuyển dụng</a>
            <a th:href="@{/cj}">Đăng tin tuyển dụng</a>
        </div>
    </li>
    <li class="navitem"><a th:href="@{/candidates}">Ứng viên</a></li>
    <li class="navitem"><a th:href="@{/apply}">Ứng tuyển công việc</a></li>
    <li class="navitem"><a th:href="@{/findCanBySkill}">Tìm ứng viên phù hợp</a></li>
</ul>

<h1>Ứng tuyển</h1>
<form action="apply/new" method="post" >

        <label for="name">Họ và tên:</label>
        <input type="text" id="name" name="name"></br></br>

        <label for="dob">Day of birth:</label>
        <input type="date" id="dob" name="dob" ></br></br>

        <label for="phone">Số điện thoại: </label>
        <input type="text" id="phone" name="phone"></br></br>

        <label for="email">Email: </label>
        <input type="text" id="email" name="email"></br></br>

        <label for="address">Địa chỉ: </label>
        <select id="address" name="selAddress">
            <option th:each="address : ${addresses}" th:value="${address.id}">
                <span th:text="${address.number + '-' + address.stress + '-' + address.city + '-' + address.country}"></span>
            </option>
        </select>



    <!--        Chọn skill từ danh sách skill-->
    <label>Chọn kỹ năng: </label>
    <div th:each="skill: ${skills}">
        <input type="checkbox" th:id="${'skill-' + skill.id}" th:name="skill" th:value="${skill.id}"
              >
        <label th:for="${'skill-' + skill.id}" th:text="${skill.name}"></label><br>

        <!--        Chọn cấp độ kỹ năng-->
        <label th:for="${'skillLV-'+skill.id}">Chọn cấp độ kỹ năng: </label>
        <select th:id="${'skillLV-'+skill.id}" name="skill_level"   disabled>
            <option th:each="sl:${skillLevels}" th:value="${sl}" th:text="${sl}">
            </option>
        </select>
        <br>

        <!--        Điền các thông tin khác-->
        <label th:for="${'more_info-'+skill.id}">Mô tả thêm: </label>
        <textarea name="more_info" th:id="${'more_info-'+skill.id}" rows="5" cols="50" placeholder="Mô tả thêm"
                  style="resize: none" disabled></textarea>
    </div>
    <button type="submit">Apply</button>
    <button type="reset">Reset</button>
</form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var skills = document.querySelectorAll('input[type="checkbox"]');
        skills.forEach(function (skill) {
            skill.addEventListener('change', function () {
                var skillId = skill.value;
                var skillLevelSelect = document.getElementById('skillLV-' + skillId);
                var moreInfoTextarea = document.getElementById('more_info-' + skillId);

                if (skill.checked) {
                    skillLevelSelect.disabled = false;
                    moreInfoTextarea.disabled = false;
                } else {
                    skillLevelSelect.disabled = true;
                    moreInfoTextarea.disabled = true;
                }
            });
        });
    });

</script>
</body>
</html>