<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tìm danh sách ứng viên có kỹ năng phù hợp</title>
    <link th:href="@{/css/styleNavBar.css}" rel="stylesheet">
    <script th:src="@{/js/NavBar.js}"></script>
</head>
<body>
<ul class="navbar">
    <li class="navitem"><a th:href="@{/}">Trang chủ</a></li>
    <li class="navitem" id="jobpostingsDropdown" onmouseenter="showDropdown()" onmouseleave="hideDropdown()">
        <a href="javascript:void(0);" class="dropbtn">Tin tuyển dụng</a>
        <div class="dropdown-content jobpostings-content" id="jobpostingsContent">
            <a th:href="@{/view}">Xem tin tuyển dụng</a>
            <a th:href="@{/cj}">Đăng tin tuyển dụng</a>
        </div>
    </li>
    <li class="navitem"><a th:href="@{/candidates}">Ứng viên</a></li>
    <li class="navitem"><a th:href="@{/apply}">Ứng tuyển công việc</a></li>
    <li class="navitem"><a th:href="@{/findCanBySkill}">Tìm ứng viên phù hợp</a></li>
</ul>
<form action="/findCanBySkill/candidates" method="get">
    <label for="selSkill">Chọn kỹ năng:</label>
    <select id="selSkill" name="selSkill">
        <option th:each="skill: ${skills}" th:value="${skill.id}" th:text="${skill.name}"></option>
    </select>
    <input type="submit" value="Submit">
</form>
<h2>Candidates</h2>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Dob</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Job Matching</th>
        <th>Details</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="candidate : ${candidates}">
        <td th:text="${candidate.id}"></td>
        <td th:text="${candidate.full_name}"></td>
        <td th:text="${candidate.dob}"></td>
        <td th:text="${candidate.address}"></td>
        <td th:text="${candidate.phone}"></td>
        <td th:text="${candidate.email}"></td>
        <td><a th:href="@{/edit/{id}(id=${candidate.id})}">Edit</a></td>
        <td><a th:href="@{/delete/{id}(id=${candidate.id})}">Delete</a></td>
        <td><a th:href="@{/matchingJob/{id}(id=${candidate.id})}">Job</a></td>
        <td><a th:href="@{/details/{id}(id=${candidate.id})}">Details</a></td>
    </tr>
    </tbody>
</table>

</body>
</html>