<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Đăng tin tuyển dụng</title>
    <link th:href="@{/css/styleNavBar.css}" rel="stylesheet">
</head>
<body>

<!-- Thanh chức năng -->
<ul class="navbar">
    <li class="navitem"><a th:href="@{/}">Trang chủ</a></li>
    <li class="navitem" id="jobpostingsDropdown" onmouseenter="showDropdown()" onmouseleave="hideDropdown()">
        <a href="javascript:void(0);" class="dropbtn">Tin tuyển dụng</a>
        <div class="dropdown-content jobpostings-content" id="jobpostingsContent">
            <a th:href="@{/view}">Xem tin tuyển dụng</a>
            <a th:href="@{/cj}">Đăng tin tuyển dụng</a>
        </div>
    </li>
    <li class="navitem"><a th:href="@{/candidates}">Ứng viên</a></li>
</ul>
<h1>Tạo tin tuyển dụng</h1>


<script th:src="@{/js/NavBar.js}"></script>
<form action="createjobposting/new" method="post" th:object="${job_skill}">
    <!--        Chọn job từ danh sách job-->
    <label for="job">Chọn công việc: </label>
    <select id="job" name="job" th:field="*{job}">
        <option th:each="j:${jobs}" th:value="${j.id}" th:text="${j.name}">
        </option>
    </select>
    </br>
    </br>
    <!--        Chọn skill từ danh sách skill-->
    <label>Chọn kỹ năng: </label>
    <div th:each="skill: ${skills}">
        <input type="checkbox" th:id="${'skill-' + skill.id}" th:name="skill" th:value="${skill.id}"
               th:field="*{skill}">
        <label th:for="${'skill-' + skill.id}" th:text="${skill.name}"></label><br>

        <!--        Chọn cấp độ kỹ năng-->
        <label th:for="${'skillLV-'+skill.id}">Chọn cấp độ kỹ năng: </label>
        <select th:id="${'skillLV-'+skill.id}" name="skill_level" th:field="*{skill_level}"  disabled>
            <option th:each="sl:${skillLevels}" th:value="${sl}" th:text="${sl}">
            </option>
        </select>
        <br>

        <!--        Điền các thông tin khác-->
        <label th:for="${'more_info-'+skill.id}">Mô tả thêm: </label>
        <textarea th:field="*{more_info}" th:id="${'more_info-'+skill.id}" rows="5" cols="50" placeholder="Mô tả thêm"
                  style="resize: none" disabled></textarea>
    </div>
    </br>
    </br>


    <button type="submit">Create</button>
    <button type="reset">Reset</button>
</form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var skills = document.querySelectorAll('input[type="checkbox"]');
        skills.forEach(function (skill) {
            skill.addEventListener('change', function () {
                var skillId = skill.value;
                var skillLevelSelect = document.getElementById('skillLV-' + skillId);
                var moreInfoTextarea = document.getElementById('more_info-' + skillId);

                if (skill.checked) {
                    skillLevelSelect.disabled = false;
                    moreInfoTextarea.disabled = false;
                } else {
                    skillLevelSelect.disabled = true;
                    moreInfoTextarea.disabled = true;
                }
            });
        });
    });

</script>

</body>
</html>