<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Xem tin tuyển dụng</title>
    <link th:href="@{/css/styleNavBar.css}" rel="stylesheet">
</head>
<body>
<!-- Thanh chức năng -->
<ul class="navbar">
    <li class="navitem"><a th:href="@{/}">Trang chủ</a></li>
    <li class="navitem" id="jobpostingsDropdown" onmouseenter="showDropdown()" onmouseleave="hideDropdown()">
        <a href="javascript:void(0);" class="dropbtn">Tin tuyển dụng</a>
        <div class="dropdown-content jobpostings-content" id="jobpostingsContent">
            <a th:href="@{/viewjobpostings}">Xem tin tuyển dụng</a>
            <a th:href="@{/cj}">Đăng tin tuyển dụng</a>
        </div>
    </li>
    <li class="navitem"><a th:href="@{/candidates}">Ứng viên</a></li>
</ul>


</br>
</br>
<script th:src="@{/js/NavBar.js}"></script>
</body>
</html>