<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Xem tin tuyển dụng</title>
    <link th:href="@{/css/styleNavBar.css}" rel="stylesheet">
</head>
<body>
<!-- Thanh chức năng -->
<ul class="navbar">
    <li class="navitem"><a th:href="@{/}">Trang chủ</a></li>
    <li class="navitem" id="jobpostingsDropdown" onmouseenter="showDropdown()" onmouseleave="hideDropdown()">
        <a href="javascript:void(0);" class="dropbtn">Tin tuyển dụng</a>
        <div class="dropdown-content jobpostings-content" id="jobpostingsContent">
            <a th:href="@{/view}">Xem tin tuyển dụng</a>
            <a th:href="@{/cj}">Đăng tin tuyển dụng</a>
        </div>
    </li>
    <li class="navitem"><a th:href="@{/candidates}">Ứng viên</a></li>
    <li class="navitem"><a th:href="@{/apply}">Ứng tuyển công việc</a></li>
</ul>

<h2>Thông tin tuyển dụng</h2>
<div th:each="job : ${jobs}">
    <p>Tên công việc: <span th:text="${job.name}"></span></p>
    <p>Mô tả công việc: <span th:text="${job.desc}"></span></p>
    <p>Các kĩ năng yêu cầu đối với công việc: </p>
    <div th:each="jobskill : ${jobSkills}" th:if="${jobskill.job.id == job.id}">
        Tên kỹ năng: <span th:text="${jobskill.skill.name}"></span>
        - Cấp độ kỹ năng: <span th:text="${jobskill.skill_level}"></span>
        - Các yêu cầu khác: <span th:text="${jobskill.more_info}"></span>
    </div>
    <br>
    <br>
</div>
<script th:src="@{/js/NavBar.js}"></script>
</body>
</html>